
.category-container {
    background-color: #226f54;
    width: 327px;
    height: 455px;
    border-radius: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .category-title {
    color: white;
    width: 267px;
    height: 60px;
    margin-top: 65px;
    background-color: #F18F01; /* Dodaj kolor tła */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Zaokrąglenie rogów */
  }
  
  .category-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .category-button {
    width: 267px;
    height: 40px;
    background-color: #A31621;
    color: white; /* Kolor tekstu przycisku */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
  }
  
  .category-button:hover {
    background-color: #F18F01;
  }
  